/* variables */
$firstColor: #ffffff;
$secondColor: #5673ce;
$thirdColor: #4f4f4f;
$fourthColor: #333333;
$fifthColor: #1f3754;
$sixthColor: #bdbdbd;
$seventhColor: #979797;
$eighthColor: #c4c4c4;
$ninthColor: #fafafa;
$fs: 16px;

/* sizes */
$containerStandardMaxWidth: 1163px;